h2 {
	color: blue;
}

.boxmodel{
	border: 5px solid red;
	display: inline-block;
/*	padding: 20px;*/
/*	padding: 5px 20px 5px 20px;*/
	padding: 5px 20px;
/*	margin: 20px;*/
/*	margin: 0px 20px 0px 20px;*/
	margin: 0px 20px;
	width: 33px;
	height: 55px;
}

p{
	font-size: 20px;
}

span{
	font-size: 5em; 
/*	em means n times the containing element*/
	font-size: 2rem;
/*	rem means n times the root element*/
}